{{#poke-card
    onsubmit=attrs.onsubmit
    title="Login"
    buttonText="Login"}}

  <div class="row">
    {{poke-input
        classNames="col s12"
        type="email"
        label="Email Address"}}
  </div>
  <div class="row">
    {{poke-input
        classNames="col s12"
        type="password"
        label="Password"}}
  </div>
{{/poke-card}}